# Discord Bot Configuration
DISCORD_BOT_TOKEN=your_discord_bot_token_here
DISCORD_ADMIN_ROLE=admin

# GCP Configuration
GCP_PROJECT_ID=discord-bot-484904
GCP_CREDENTIALS_PATH=secret/discord-bot-484904-2dc07a5b046e.json

# BigQuery Configuration
BQ_DATASET_ID=crypto_bot
BQ_MARKET_TABLE=market_data
BQ_COMMUNITY_TABLE=community_data
BQ_DEVELOPER_TABLE=developer_data

# CoinGecko API
COINGECKO_API_KEY=your_coingecko_api_key

# GCS Configuration
GCS_BUCKET=crypto_bot_staging
